# Sequence Types

Sequences allow you to store multiple values in an organized and efficient fashion. <br />
There are three basic sequence types: `list`, `tuple`, and `range` objects. However, strictly speaking, strings aslo fall in the category of sequence types.

As such, lists, strings, and the other sequence types in Python all share a common interface for allowing users to inspect, retrieve, and summarize their contents.

In this notebook we will take a closer look at tuples.

## Tuples

Tuples are very similar to lists. They can store a sequence of arbitrary objects (a mix of numbers, strings, lists, other tuples, etc.). <br />
Like lists, tuples are **ordered** and **allow duplicate values**. However, unlike lists, tuples are **immutable**.

In general, tuples consume less memory than do lists, since it is known that a tuple will not change in size (at least this applies in CPython). Furthermore, tuples come in handy when you want to ensure that a sequence of data cannot be changed by subsequent code.

### Creating tuples

Tuples are created as follows:

In [1]:
t = (1, 2, 'three')

Note that technically the parentheses are redundant. In other words, we can also create the tuple as follows:

In [2]:
# This also creates a tuple.
# Note that the parentheses are missing.
t = 1, 2, 'three'

#### How can we create a tuple composed of a single element?

Let's assume we want to create a tuple that is only composed of a single element using the syntax we used previously.

In [3]:
t_with_single_element = (3)

# This does NOT create a tuple!
print(type(t_with_single_element))

<class 'int'>

So, apparently, the syntax we used previously fails to create a tuple and returns an integer instead.

However, if we add the trailing comma ...

In [4]:
t_with_single_element = (3,)

# Now we created the tuple correctly!
print(type(t_with_single_element))

<class 'tuple'>

**Trailing commas are usually optional, except they are mandatory when making a tuple of one element.**

## List indexing and slicing

Since tuples fall into the category of sequence types, they can be indexed and sliced similar to lists.

In [5]:
# Create tuple composed of numbers from 1 to 10
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Access the element at position 4 (fifth element in the list) in the tuple
print(t[4])

5

In [7]:
# Slice the list. Get the elements at position 4 until (excl.) 8
print(t[4:8])

(5, 6, 7, 8)

In [8]:
# Create a tuple composed of ten ones
# Note the trailing comma (!)
t = (10,) * 4
print(t)

(10, 10, 10, 10)

#### Tuples are immutable

Unlike lists, tuples are immutable. This means that we cannot update a tuple after creating.

In [9]:
# This operation throws an error
t[0] = 11

TypeError: 'tuple' object does not support item assignment

## Sequence methods

Since tuples cannot be altered, most methods that are available for lists, are not available for tuples (as they would require to alter the tuple). For instance, operations such as `remove`, `pop` or `insert`.

However, tuples support all operations that do not require to alter the tuple

##### Count how often a certain elements appears in the tuple with `count()`

In [ ]:
t = (1, 1, 2, 3)

print(t.count(1))

**Get the index of the first occurrence of a given element in the tuple**

In [ ]:
t = (1, 1, 2, 3)

print('Index of the first element being equal to 1:', t.index(1))
print('Index of the first element being equal to 2:', t.index(2))

## Membership checking

Membership checks can be performed similarly to lists. In other words, we can also use `in` and `not in` statements to check whether a certain element is in a tuple.

In [ ]:
t = (1, 2, 3, 4, 5)

In [ ]:
# Check whether the value 3 appears in the tuple
print(3 in t)

In [ ]:
# Check whether the value 6 appears in the tuple
print(6 in t)