# Set types

## Sets

Sets are **unordered** collections of elements. Sets are **mutable** and but **do not support duplicate elements** (unlike lists). 

The major advantage of using a set, as opposed to a list, is that it has a optimized method for checking whether a specific element is contained in the set. Therefore, the elements are stored in a **hash table**.

Consequently, sets **can only contain elements that are hashable**. Hence, sets cannot contain elements such as dicts, lists or sets as they are not hashable. (*)

(*) Note that sets can contain tuples since tuples are hashable (assuming that tuple only contains hashable elements)

An empty set can be created as follows:

In [77]:
s = set()

If we want to create a set with some given values, we simply run

In [81]:
s = {1, 2, 3}

**Caution:** Do not use `{}` to create an EMPTY set as the returned value will be an empty dict.

In [1]:
# This is NOT how we create an empty set
s = {}
print(type(s))

<class 'dict'>

Sets do NOT support duplicate elements. Be aware that no error is raised if we tried to create a set with duplicate elements.

In [90]:
s = {1, 2, 3, 3}
print(s)

{1, 2, 3}

### Set Methods

##### Accessing a specific element at a certain position in the set

Since sets are unordered we can NOT access a specific element in a set.

#### Adding a new element to an existing set with `add()`

In [115]:
s = {1, 2, 3}

s.add(4)
print(s)

{1, 2, 3, 4}

#### Adding elements from a set to an existing set with `update()`

In [124]:
s = {1, 2, 3}

s.update({3, 4, 5})
print(s)

{1, 2, 3, 4, 5}

Alternatively, we can use the `|=` operator.

In [125]:
s = {1, 2, 3}

s |= {3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

#### Remove an element from a set with `remove()`

In [129]:
s = {1, 2, 3}

s.remove(1)
print(s)

{2, 3}

### Membership checking

Similar to a `list`, membership checks can be performed using `in` and `not in`. <br />
Note that thanks to the hash table, all membership checks can be performed in O(1).

In [135]:
l = [1, 2, 3]

print(1 in l)
print(1 not in l)

True
False

### Set operations

Finally, we will take a look at the operations that are characteristic of sets such as union, intersection or difference.

#### Compute the union of two sets with `union`

Note that `union` does return a NEW set composed of elements from the given sets.

In [137]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s_union = s1.union(s2)

print(s_union)

{1, 2, 3, 4, 5}

Alternatively, we can compute the union using the `|` operator.

In [139]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s_union = s1 | s2

print(s_union)

{1, 2, 3, 4, 5}

#### Compute the intersection between sets with `intersection`

In [142]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s_intersect = s1.intersection(s2)

print(s_intersect)

{3}

Alternatively, we can compute the union using the `&` operator.

In [144]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s_intersect = s1 & s2

print(s_intersect)

{3}

#### Compute the difference between two sets

In [147]:
s1 = {1, 2, 3, 5}
s2 = {3, 4}

s_diff = s1 - s2

print(s_diff)

{1, 2, 5}

#### Check if Set 1 is a superset or subset of Set 2

In [155]:
s1 = {1, 2, 3, 4}
s2 = {3, 4}

print('S1 is a superset of S2', s1 >= s2)
print('S1 is a superset of S1', s1 >= s1)
print('S1 is a subset of S1', s1 > s1)

S1 is a superset of S2 True
S1 is a superset of S1 True
S1 is a subset of S1 False

#### Check if two sets are equivalent with `==`

In [157]:
s1 = {1, 2, 3, 4}
s2 = {3, 4}

print(s1 == s2)

False